<!--  <a [routerLink]="[recipeId]" class="list-group-item clearfix" routerLinkActive="active">
      <div class="pull-left">
          <h4 class="list-group-item-heading">{{recipe.name}}</h4>
          <p class="list-group-item-text">{{recipe.description}}</p>
      </div>
      <span class="pull-right">
          <img class="img-responsive" src="{{recipe.imagePath}}" style="max-height: 50px;"/>
      </span>
  </a> -->

  <!-- <div class="list-group-item clearfix">
      <legend>{{question?.body}}</legend>
      <div>
       <ol>
          <li *ngFor="let answerOption of question.answerOptions">{{answerOption}}</li>
        </ol> 
      </div>
      <h3>Correct Answer:</h3>
      <p>{{question?.correctAnswer}}</p>
      <h3>Marks:</h3>
      <p>{{question?.marksForCorrectAnswer}}</p>
      <h3>Negative Mark:</h3>
      <p>{{question?.negativeMark}}</p>
      <h3>Difficulty:</h3>
      <p>{{question?.difficulty}}</p>
    </div> -->


  
  
    