<div class="container">
  <div class="bs-component">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <div class="formcss">
          <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <fieldset>
        
              <div class="form-group">
                <h2>Student Signup</h2>
                <hr>
              </div>
        
              <div class="form-group row">
                <label class="control-label col-lg-2"
                      for="firstname">Name:
                </label>
                <div class="col-lg-10"
                    [ngClass]="{
                      'has-error': (loginForm.controls.firstName.dirty && !loginForm.controls.firstName.valid),
                      'has-success': loginForm.controls.firstName.valid
                    }">
                  <input type="text"
                        class="form-control"
                        id="firstName"
                        placeholder="First Name"
                        formControlName="firstName"
                        required
                        maxlength="15">
                  <!-- <ul class="help-block list-group">
                    <li *ngIf="(loginForm.controls.firstName.errors?.required && loginForm.controls.firstName.dirty)" class="list-group-item">First Name is Required</li>
                  </ul> -->
                </div>
              </div>
        
              <div class="form-group row">
                <div class="col-lg-offset-2 col-lg-10"
                    [ngClass]="{
                      'has-error': (loginForm.controls.middleName.dirty && !loginForm.controls.middleName.valid),
                      'has-success': (loginForm.controls.middleName.valid && loginForm.controls.middleName.dirty)
                    }">
                  <input type="text"
                        class="form-control"
                        placeholder="Middle Name"
                        formControlName="middleName"
                        maxlength="15">
                </div>
              </div>
        
              <div class="form-group row">
                <div class="col-lg-10 col-lg-offset-2"
                    [ngClass]="{
                      'has-error': (loginForm.controls.lastName.dirty && !loginForm.controls.lastName.valid),
                      'has-success': loginForm.controls.lastName.valid
                    }">
                  <input type="text"
                        class="form-control"
                        placeholder="Last Name"
                        formControlName="lastName"
                        required
                        maxlength="15">
                  <!-- <ul class="help-block">
                    <li *ngIf="(loginForm.controls.lastName.errors?.required && loginForm.controls.lastName.dirty)" class="list-group-item">Last Name is Required</li>
                  </ul> -->
                </div>
              </div>
        
              <div class="form-group row">
                <label class="control-label col-lg-2"
                      for="email">Email:
                </label>
                <div class="col-lg-10"
                    [ngClass]="{
                      'has-error': (loginForm.controls.email.dirty && !loginForm.controls.email.valid),
                      'has-success': loginForm.controls.email.valid
                    }">
                  <input type="email" 
                        class="form-control"
                        id="email"
                        placeholder="Enter Email"
                        formControlName="email"
                        required
                        maxlength="50">
                  <span class="help-block" *ngIf="(loginForm.controls.email.errors?.emailUniqueValidator && loginForm.controls.email.dirty)" class="list-group-item">
                      This Email is already Registered with us!
                  </span>
                  <!-- <ul class="help-block list-group">
                    <li *ngIf="(loginForm.controls.email.errors?.email && loginForm.controls.email.dirty)" class="list-group-item">Invalid Email</li>
                  </ul> -->
                </div>
              </div>
        
              <div class="form-group row">
                <label class="control-label col-lg-2"
                      for="phoneno">Contact Number:
                </label>
                <div class="col-lg-10"
                    [ngClass]="{
                      'has-error': (loginForm.controls.phoneNumber.dirty && !loginForm.controls.phoneNumber.valid),
                      'has-success': loginForm.controls.phoneNumber.valid
                    }">
                  <input type="text"
                        class="form-control"
                        id="phoneno"
                        placeholder="Enter Phone No."
                        formControlName="phoneNumber"
                        required
                        maxlength="14">
                  <!-- <ul class="help-block list-group">
                    <li *ngIf="(loginForm.controls.phoneNumber.errors?.phoneNumberValidator && loginForm.controls.phoneNumber.dirty)" class="list-group-item">Invalid Phone Number</li>
                  </ul> -->
                </div>
              </div>
        
              <div class="form-group row">
                <label class="control-label col-lg-2" for="address">Address:</label>
                <div class="col-lg-10" [ngClass]="{
                  'has-error': (loginForm.controls.address.dirty && !loginForm.controls.address.valid),
                  'has-success': (loginForm.controls.address.valid && loginForm.controls.address.dirty)
                }">
                  <textarea class="form-control"
                            id="address"
                            placeholder="Enter Address"
                            formControlName="address"
                            rows="3"
                            maxlength="500">
                  </textarea>
                </div>
              </div>
              
              <div class="form-group row">
                <label class="control-label col-lg-2"
                      for="sclass">Class:
                </label>
                <div class="col-lg-10"
                    [ngClass]="{
                      'has-error': (loginForm.controls.studentClass.dirty && !loginForm.controls.studentClass.valid),
                      'has-success': loginForm.controls.studentClass.valid
                    }">
                  <input type="text"
                        class="form-control"
                        id="sclass"
                        placeholder="Enter Class"
                        formControlName="studentClass"
                        required
                        maxlength="50">
                  <!-- <ul class="help-block list-group">
                    <li *ngIf="(loginForm.controls.studentClass.errors?.required && loginForm.controls.studentClass.dirty)" class="list-group-item">Class is required</li>
                  </ul> -->
                </div>
              </div>
          
              <div class="form-group row">
                <label class="control-label col-lg-2"
                      for="passwd">Password:
                </label>
                <div class="col-lg-10"
                    [ngClass]="{
                      'has-error': (loginForm.controls.password.dirty && loginForm.controls.confirm.dirty && !(loginForm.controls.password.valid && loginForm.valid)),
                      'has-success': (loginForm.controls.password.valid && !loginForm.errors?.matchingPasswords)
                    }">
                  <input type="password"
                        class="form-control"
                        id="passwd"
                        placeholder="Enter Password"
                        formControlName="password"
                        required
                        minlength="8"
                        maxlength="64">
                </div>
              </div>
        
              <div class="form-group row">
                <label class="control-label col-lg-2"
                      for="cnfmpasswd">Confirm:
                </label>
                <div class="col-lg-10"
                [ngClass]="{
                  'has-error': (loginForm.controls.password.dirty && loginForm.controls.confirm.dirty && !(loginForm.controls.confirm.valid && loginForm.valid)),
                  'has-success': (loginForm.controls.confirm.valid && !loginForm.errors?.matchingPasswords)
                }">
                  <input type="password"
                        class="form-control"
                        id="cnfmpasswd"
                        placeholder="Re-Enter Password"
                        required
                        minlength="8"
                        maxlength="64"
                        formControlName="confirm">
                  <!-- <ul class="help-block list-group">
                    <li *ngIf="(loginForm.errors?.matchingPasswords && loginForm.controls.confirm.dirty && loginForm.controls.password.dirty)" class="list-group-item">Passwords Doesnot Match</li>
                  </ul> -->
                </div>
              </div>
        
              <div class="form-group row">
                <div class="col-lg-offset-2 col-lg-10">
                  <p class="lead">Already Registered? <a [routerLink]="['../login']">Login Here</a></p>
                </div>
              </div>
            
              <div class="form-group row"> 
                <div class="col-lg-offset-2 col-lg-10">
                  <button type="button"
                          class="btn btn-default"
                          (click)="loginForm.reset({'phoneNumber': ''})">Clear
                  </button>
                  <button type="submit"
                          class="btn btn-primary"
                          [disabled]="!loginForm.valid">Submit
                  </button>
                </div>
              </div>
            
            </fieldset>
          </form>
        </div>

        <div class="panel panel-success" *ngIf="isRegistrationFailure==0">
          <div class="panel-body">
            <div class="lead">
              <strong>Bingo!</strong> You are registered with us. You will be shortly redirected to appear for exams. Click <a [routerLink]="['/exam']" class="alert-link">here</a> to view all exams now. 
            </div>
          </div>
        </div>
  
        <div class="panel panel-error" *ngIf="isLoginFailure == 1">
          <div class="panel-body">
            <p class="lead"><strong>Oh snap!</strong> We couldnot sign you up! There was some error while saving your data into the database. Please try again later or contact the system Administrator. The error has been logged into your console!</p>
          </div>
        </div>
  
        <div class="panel panel-warning" *ngIf="isRegistrationFailure == 2">
          <div class="panel-body">
            <strong>Oh snap!</strong>
            You seem to be already logged in. You will be shortly redirected for you to confirm your identity!
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

