<div class="bs-component">
  <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <fieldset>

      <legend>Student Signup</legend>

      <div class="form-group">
        <label class="control-label col-lg-2" for="firstname">Name:</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName" required maxlength="15">
          <!-- <div *ngIf="!loginForm.controls.firstName.valid && loginForm.controls.firstName.touched">
            First Name must be Provided
          </div> -->
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <input type="text" class="form-control" placeholder="Middle Name" formControlName="middleName" maxlength="15">
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" required maxlength="15">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-2" for="email">Email:</label>
        <div class="col-lg-10">
          <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email" required maxlength="50">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-2" for="phoneno">Contact Number:</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="phoneno" placeholder="Enter Phone No." formControlName="phoneNumber" required maxlength="14">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-2" for="address">Address:</label>
        <div class="col-lg-10">
          <textarea class="form-control" id="address" placeholder="Enter Address" formControlName="address" rows="3" maxlength="500"></textarea>
        </div>
      </div>
      
      <div class="form-group">
        <label class="control-label col-lg-2" for="sclass">Class:</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="sclass" placeholder="Enter Class" formControlName="studentClass" required maxlength="50">
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label col-lg-2" for="passwd">Password:</label>
        <div class="col-lg-10" [ngClass]="{'has-error': (loginForm.controls.password.dirty && (!loginForm.controls.password.valid || loginForm.errors)), 'has-success': (loginForm.controls.password.valid && !loginForm.errors)}">
          <input type="password" class="form-control" id="passwd" placeholder="Enter Password" formControlName="password" required minlength="8" maxlength="64">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-2" for="cnfmpasswd">Confirm Password:</label>
        <div class="col-lg-10" [ngClass]="{'has-error': (loginForm.controls.confirm.dirty && (!loginForm.controls.confirm.valid || loginForm.errors)), 'has-success': (loginForm.controls.confirm.valid && !loginForm.errors)}">
          <input type="password" class="form-control" id="cnfmpasswd" placeholder="Re-Enter Password" required minlength="8" maxlength="64" formControlName="confirm">
        </div>
      </div>
    
      <div class="form-group"> 
        <div class="col-lg-offset-2 col-lg-10">
          <button type="button" class="btn btn-default" (click)="loginForm.reset({'phoneNumber': ''})">Clear</button>
          <button type="submit" class="btn btn-default btn-primary" [disabled]="!loginForm.valid">Submit</button>
        </div>
      </div>
    
    </fieldset>
  </form>
</div>