<div class="bs-component">
  
  <ul class="nav nav-tabs">
    <li><a routerLinkActive="active" [routerLink]="['/admin']">Login</a></li>
    <li><a routerLinkActive="active" [routerLink]="['create-exam']">Create Exam</a></li>
    <li><a routerLinkActive="active" [routerLink]="['exam/:id']">View Exam</a></li>
    <li><a routerLinkActive="active" [routerLink]="['exam/:id/insertque']">Input Question</a></li>
    <li><a (click)="logoutAdmin()">Logout</a></li>
  </ul>
  
  <h1>Hello Admin</h1>
  <router-outlet></router-outlet>

</div>
