.affix {
    top: 15px;
    z-index: 9999 !important;
}

body {
    position: relative;
}
div.col-sm-9 div {
    height: 250px;
    font-size: 28px;
}

@media screen and (max-width: 810px) {
    margin-left: 150px;
}

#examButtonsGroup {
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
