<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <img itemprop="logo" itemscope="itemscope" src="LANSystem.ico">
        <span>LAN Exam</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/exam']" routerLinkActive="active">Exam</a></li>
        <li><a [routerLink]="['/user']" routerLinkActive="active">User</a></li>
        <li><a [routerLink]="['/admin']" routerLinkActive="active">Admin</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="isUserAuthenticated()" (click)="logoutUser()" [routerLink]="['/user/me']"><span class="glyphicon glyphicon-log-in"></span>  Logout</a></li>
        <li><a [routerLink]="['/user/login']" *ngIf="!isUserAuthenticated()"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
        <li *ngIf="!isUserAuthenticated()"><a [routerLink]="['/user/signup']"><span class="glyphicon glyphicon-user"></span>  Register</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    
  </div><!-- /.container-fluid -->
</nav>