<div class="container">
  <div class="bs-component">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12">
        <div class="formcss">
          <form class="form-horizontal" *ngIf="submissionError == 0">
            <fieldset>

              <div class="form-group"><h2>Exam Details:</h2></div>

              <div class="form-group">
                <label class="control-label col-lg-2"
                      for="_id">Exam ID:
                </label>
                <div class="col-lg-10">
                  <input type="text"
                        id="_id"
                        class="form-control"
                        value="{{exam?._id}}"
                        readonly>
                </div>
              </div>
      
              <div class="form-group">
                <label class="control-label col-lg-2"
                      for="name">Exam Name:
                </label>
                <div class="col-lg-10">
                  <input type="text"
                        readonly
                        id="name"
                        class="form-control"
                        value="{{exam?.name}}">
                </div>
              </div>
        
              <div class="form-group">
                <label class="control-label col-lg-2"
                      for="description">Exam Description:
                </label>
                <div class="col-lg-10">
                  <input readonly
                        type="text"
                        id="description"
                        placeholder="Exam Description"
                        class="form-control"
                        value="{{exam?.description}}">
                </div>
              </div>
        
              <div class="form-group">
                <label class="control-label col-lg-2"
                      for="allowedTime">Allowed Time:
                </label>
                <div class="col-lg-10">
                  <div class="input-group">
                    <input type="text"
                          readonly
                          id="allowedTime"
                          class="form-control"
                          value="{{exam?.allowedTime}}">
                    <span class="input-group-addon">in Minutes</span>
                  </div>
                </div>
              </div>
        
              <div class="form-group">
                <label class="control-label col-lg-2"
                      for="subject">Subject:
                </label>
                <div class="col-lg-10">
                  <input type="text"
                        readonly
                        id="subject"
                        class="form-control"
                        value="{{exam?.subject}}">
                </div>
              </div>
        
              <br>
              <hr>
              <h2>Questions:</h2>
        
              <ul class="list-group" *ngFor="let question of exam.questions; let questionId = index">
                <fyp-question-item-list [question]="question" [questionId]="questionId" id="quesitem"></fyp-question-item-list>
              </ul>
        
            </fieldset>
          </form>
        </div>

        <div class="panel panel-error" *ngIf="submissionError == 1">
          <div class="panel-body">
            <p>
              You seem to be unauthenticated from the server. Login <a [routerLink]="['/admin']">here</a>!!
            </p>
          </div>
        </div>

        <div class="panel panel-error" *ngIf="submissionError == 2">
          <div class="panel-body">
            <p>
              <strong>Oh No!</strong>
              The Object ID you inputted seems to be incorrect. Input a correct Object ID for Exam!!
            </p>
          </div>
        </div>
    
        <div class="panel panel-error" *ngIf="submissionError == 3">
          <div class="panel-body">
            <p>
              <strong>Oops!</strong>
              The store has no exam with the id {{id}}. Try giving the ID an check!!
            </p>
          </div>
        </div>

        <div class="panel panel-error" *ngIf="submissionError == 4">
          <div class="panel-body">
            <p>
              <strong>Oh snap!</strong>
              There seems to be a technical problem with the server, or the connection. Please Try Again later
            </p>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</div>