<div class="container">
  <div class="bs-component">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="formcss">
          <form class="form-horizontal" [formGroup]="userLoginForm" (ngSubmit)="onSubmit()">
            <fieldset>
      
              <div class="form-group">
                <h2>Login</h2>
                <hr>
              </div>
      
              <div class="form-group">
                <label class="sr-only" for="email">Email:</label>
                <div [ngClass]="{'has-error': (!userLoginForm.controls.email.valid && userLoginForm.controls.email.touched), 'has-success': (userLoginForm.controls.email.valid && userLoginForm.controls.email.touched)}">
                  <input type="email"
                        class="form-control"
                        id="email"
                        placeholder="Enter Email"
                        formControlName="email"
                        required
                        maxlength="50">
                </div>
              </div>
    
              <div class="form-group">
                <label class="sr-only" for="password">Password:</label>
                <div [ngClass]="{'has-error': (!userLoginForm.controls.password.valid && userLoginForm.controls.password.touched), 'has-success': (userLoginForm.controls.password.valid && userLoginForm.controls.password.touched)}">
                  <input type="password"
                        class="form-control"
                        id="password"
                        placeholder="Password"
                        formControlName="password"
                        required
                        maxlength="64"
                        minlength="8">
                </div>
              </div>
    
              <div class="form-group">
                  <p class="lead">Not Registered? <a [routerLink]="['/user', 'signup']">Register Here</a></p>
              </div>
    
              <div class="form-group"> 
                <button type="submit"
                        class="btn btn-default btn-success btn-flat btn-block"
                        [disabled]="!userLoginForm.valid">Submit
                </button>
              </div>
                
            </fieldset>
          </form>
        </div>

        <div class="panel panel-warning" *ngIf="isLoginFailure == 1">
          <div class="panel-body">
            <strong>Oh snap!</strong>
            We couldnot login you up! Did you checked your password?
          </div>
        </div>

        <div class="panel panel-warning" *ngIf="isLoginFailure == 2">
          <div class="panel-body">
            <strong>Oh snap!</strong>
            You seem to be already logged in. You will be shortly redirected for you to confirm your identity!
          </div>
        </div>

      </div>
    </div>
  </div>
</div>