<div class="bs-component">
    <form class="form-horizontal" *ngIf="submissionError == 0">
      <fieldset disabled>
        <legend>Create Exam</legend>
  
        <div class="form-group">
          <label class="control-label col-lg-2" for="name">Exam Name:</label>
          <div class="col-lg-10">
            <input type="text" id="name" class="form-control" value="{{exam?.name}}">
          </div>
        </div>
  
        <div class="form-group">
          <label class="control-label col-lg-2" for="description">Exam Description:</label>
          <div class="col-lg-10">
            <input type="text" id="description" placeholder="Exam Description" class="form-control" value="{{exam?.description}}">
          </div>
        </div>
  
        <div class="form-group">
          <label class="control-label col-lg-2" for="allowedTime">Allowed Time:</label>
          <div class="col-lg-10">
            <div class="input-group">
              <input type="text" id="allowedTime" class="form-control" value="{{exam?.allowedTime}}">
              <span class="input-group-addon">in Minutes</span>
            </div>
            
          </div>
        </div>
  
        <div class="form-group">
          <label class="control-label col-lg-2" for="subject">Subject:</label>
          <div class="col-lg-10">
            <input type="text" id="subject" class="form-control" value="{{exam?.subject}}">
          </div>
        </div>
  
        <hr>
        <legend>Questions</legend>
  
        <ul class="list-group" *ngFor="let question of exam.questions; let questionId = index">
          <fyp-question-item-list [question]="question" [questionId]="questionId" id="quesitem"></fyp-question-item-list>
        </ul>
  
      </fieldset>
    </form>

    <div class="alert alert-dismissible alert-warning" *ngIf="submissionError == 1">
      <button type="button" class="close" data-dismiss="alert" (click)="resetSubmissionError()">&times;</button>
      <p>
        You seem to be unauthenticated from the server. Login <a [routerLink]="['/admin']">here</a>!!
      </p>
    </div>

    <div class="alert alert-dismissible alert-warning" *ngIf="submissionError == 2">
      <button type="button" class="close" data-dismiss="alert" (click)="resetSubmissionError()">&times;</button>
      <p>
        <strong>Oh No!</strong>
        The Object ID you inputted seems to be incorrect. Input a correct Object ID for Exam!!
      </p>
    </div>

    <div class="alert alert-dismissible alert-warning" *ngIf="submissionError == 3">
      <button type="button" class="close" data-dismiss="alert" (click)="resetSubmissionError()">&times;</button>
      <p>
        <strong>Oops!</strong>
        The store has no exam with the id {{id}}. Try giving the ID an check!!
      </p>
    </div>

    <div class="alert alert-dismissible alert-warning" *ngIf="submissionError == 4">
      <button type="button" class="close" data-dismiss="alert" (click)="resetSubmissionError()">&times;</button>
      <p>
        <strong>Oh snap!</strong>
        There seems to be a technical problem with the server, or the connection. Please Try Again later
      </p>
    </div>
    
  </div>