<div class="panel panel-warning" *ngIf="isexamFetchingFailure == 1">
  <div class="panel-heading">
    <h3 class="panel-title">Unauthorised</h3>
  </div>
  <div class="panel-body">
    <p class="lead"><strong>Oops!</strong> You Seem to be unauthorised, please login to fetch details!</p>
  </div>
</div>

<div class="panel panel-warning" *ngIf="isexamFetchingFailure == 2">
  <div class="panel-heading">
    <h3 class="panel-title">Internal server error</h3>
  </div>
  <div class="panel-body">
    <p class="lead"><strong>Oh snap!</strong> The Server CouldNot fetch your details. Please try again Later!</p>
  </div>
</div>

<div class="panel panel-warning" *ngIf="isexamFetchingFailure == 3">
  <div class="panel-heading">
    <h3 class="panel-title">No Exams Found</h3>
  </div>
  <div class="panel-body">
    <p class="lead"><strong>Bad Luck!</strong> There are no exam in the server, keep checking here!</p>
  </div>
</div>

<div class="row" *ngIf="isexamFetchingFailure == 0">
  <div class="col-xs-12">
    <div class="list-group">
      
      <a class="list-group-item clearfix" *ngFor="let exam of examList; let i = index" >

        <fieldset>
          <dl class="row">

            <dt class="col-xs-2">{{exam._id}}</dt>
            <dt class="col-xs-3">{{exam.name}}</dt>
            <dt class="col-xs-3">{{exam.subject}}</dt>
            <div class="col-xs-2">
              <button class="btn btn-primary btn-block" type="button" (click)="redirectToViewExam(exam._id)">View Exam</button>  
            </div>
            <div class="col-xs-2">
              <button class="btn btn-primary btn-block" type="button" (click)="redirectToInsertQuestion(exam._id)">Insert Question</button>
            </div>
          </dl>
        </fieldset>
      </a>
    </div>
  </div>
</div>