<div class="bs-component">
    <fieldset>
        <div class="row">
            <div class="col-sm-9">
                <form class="form-inline" [formGroup]="examViewForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="control-label sr-only" for="examId">Exam ID:</label>
                        <input type="text" class="form-control" id="examId" minlength="24" maxlength="24" required placeholder="Enter Exam ID" formControlName="examID" size="24" [ngClass]="{'has-error': (examViewForm.controls.examID.dirty && !examViewForm.controls.examID.valid), 'has-success': examViewForm.controls.examID.valid}">
                        <div class="help-block">
                            <span *ngIf="(examViewForm.controls.examID.errors && examViewForm.controls.examID.dirty)">Your Inputted Exam-ID is incorrect, It should be a valid hexadecimal string of length of 24 characters</span>
                        </div>
                        
                    </div>
                
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" [disabled]="!examViewForm.valid">Submit</button>
                    </div>
                
                </form>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-primary pull-left" [routerLink]="['exam/:id/insertque']">Input Questions Into Exam</a>
            </div>
        </div>
    </fieldset>
    <hr>
    <fyp-display-exam></fyp-display-exam>
</div>
