<br>

<section class="main jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <header class="page-header">
        <h2>Vision</h2>
      </header>
      <p class="pad-para">This project will bla bla bla</p>
    </div>
    <div class="col-sm-5 col-sm-offset-1 centre">
      <img class="img-circle img-thumbnail img-responsive border" src="https://avatars3.githubusercontent.com/u/25552643?s=460&v=4" alt="" width="300"/>
    </div>
  </div>
</section>

<br>

<section class="main centre jumbotron">
  <header class="page-header">
    <h2>App features</h2>
  </header>
  <div class="row">
    <div class="col-sm-4">
      <div class="border">
        <i class="fa fa-twitter fa-2"></i>
      </div>  
      <h3>Easy Exam Upload</h3>
      <p>bla bla</p>
    </div>
    <div class="col-sm-4">
      <span class="icon glyphicon glyphicon-log-in img-thumbnail border"></span>
      <h3>Rich Exam Attemp</h3>
      <p>baa</p>
    </div>
    <div class="col-sm-4">
      <span class="icon border fa-diamond"></span>
      <h3>Analysis</h3>
      <p>on every dimension</p>
    </div>
  </div>  
</section>

<br>
<hr>
<br>

<section class="main jumbotron">
  <header class="page-header">
    <h2>Developer</h2>
    <p>The Project Development Started on June 2017<br />
    And It was finished on bla</p>
  </header>
  <footer>
    <a [routerLink]="['/about']" class="btn btn-default">Learn More about Dev</a>
  </footer>
</section>