<div class="color">
  <br>
  <br>
  <br>
  <div class="container">
    <div class="headerSection centre">
      <i class="fa fa-bar-chart fa-3" aria-hidden="true" style="font-size:60px;"></i>

      <h1 style="font-size:60px;">Exam Analysis System</h1>
      <br>
      <h4 class="centre">A place for all students to analyze thenselves</h4>
      <h4 class="centre">completely free, hand crafted</h4>
      <br>
      <br>
    </div>
    <div class="collectSections">

      <section class="main">
        <div class="row">
          <div class="col-sm-7">
            <h1>Project Vision</h1>
            <div class="underline"></div>
            <p>This project will bla bla bla baa!!</p>
          </div>
          <div class="col-sm-5 right">
            <img class="img-circle img-thumbnail img-responsive border" src="https://avatars3.githubusercontent.com/u/25552643?s=460&v=4" alt="" width="300"/>
          </div>
        </div>
      </section>
  
      <hr>

      <section class="main centre">
        <h1>App features</h1>
        <div class="underline"></div>
        <div class="row">

          <div class="col-sm-4">     
            <div class="icon-wrapper">
              <i class="fa fa-cloud-upload custom-icon">
                <span class="fix-editor">&nbsp;</span>
              </i>
            </div>
            <h3>Easy Exam Upload</h3>
            <p>bla bla</p>
          </div>
          
          <div class="col-sm-4">
            <div class="icon-wrapper">
              <i class="fa fa-braille custom-icon">
                <span class="fix-editor">&nbsp;</span>
              </i>
            </div>
            <h3>Rich Exam Attemp</h3>
            <p>baa</p>
          </div>
          
          <div class="col-sm-4">
            <div class="icon-wrapper">
              <i class="fa fa-connectdevelop custom-icon">
                <span class="fix-editor">&nbsp;</span>
              </i>
            </div>
            <h3>Analysis</h3>
            <p>on every dimension</p>
          </div>

        </div>  
      </section>
  
      <hr>
                  
      <section class="main">
        <header class="page-header">
          <h2>Developer</h2>
          <p>The Project Development Started on June 2017<br />
          And It was finished on bla</p>
        </header>
        <footer>
          <a [routerLink]="['/about']" class="btn btn-default">Learn More about Dev</a>
        </footer>
      </section>

    </div>  
  </div>        
</div>