<div class="container">
  <div class="row">
    
  </div>
</div>

<a class="list-group-item clearfix">
    <!-- {{exam?._id}} | {{exam?.name}} | {{exam?.allowedTime}} -->

    fhc17417tx403botb41o471 | gegwkrwer | wfjhwerwwerwerk

  <!-- <div class="row">
    <div class="col-md-9">
      <div class="input-group">
        <span class="input-group-addon">agy2g3s2bbd2b392bon23b9b293d82d9</span>
        
        <p id="ca" class="form-control input-sm">Exam yeah</p>
        
      </div>
      
      <div class="col-md-3">
        <div class="input-group">
          <span class="glyphicons glyphicons-show-big-thumbnails input-group-addon"></span>
          <a class="btn btn-primary form-control">Result</a>
        </div>
      </div>
    </div>
  </div> -->
</a>