<div class="bs-component">
  <form class="form-horizontal" [formGroup]="examForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Create Exam</legend>

      <div class="form-group">
        <label class="control-label col-lg-2" for="name">Exam Name:</label>
        <div class="col-lg-10">
          <input type="text" id="name" placeholder="Exam Name" class="form-control" formControlName="name">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-2" for="description">Exam Description:</label>
        <div class="col-lg-10">
          <input type="text" id="description" placeholder="Exam Description" class="form-control" formControlName="description">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-2" for="allowedTime">Allowed Time:</label>
        <div class="col-lg-10">
          <div class="input-group">
            <input type="text" id="allowedTime" placeholder="Exam Allowed Time" class="form-control" formControlName="allowedTime">
            <span class="input-group-addon">in Minutes</span>
          </div>
          
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-2" for="subject">Subject:</label>
        <div class="col-lg-10">
          <input type="text" id="subject" placeholder="Subject Name" class="form-control" formControlName="subject">
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default" (click)="examForm.reset()">Clear</button>
          <button type="submit" class="btn btn-primary" [disabled]="!examForm.valid">Submit</button>
        </div>
      </div>

      <div class="alert alert-dismissible alert-warning" *ngIf="submissionError == 1">
        <button type="button" class="close" data-dismiss="alert" (click)="resetSubmissionError()">&times;</button>
        <p class="lead"><strong>Oh snap!</strong>You appear to not synchronised from the server, please login <a [routerLink]="['/admin']">here</a> again</p>
      </div>

      <div class="alert alert-dismissible alert-warning" *ngIf="submissionError == 2">
        <button type="button" class="close" data-dismiss="alert" (click)="resetSubmissionError()">&times;</button>
        <p>
          <strong>Oh snap!</strong>
          We could not submit the exam, contact the System Admin Immidieatly<a [routerLink]="['/exam']">Here</a>!!
        </p>
      </div>
      
    </fieldset>
  </form>