<div class="well bs-component">
  <form class="form-horizontal" [formGroup]="questionItemForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Input new Question</legend>

      <div class="form-group">
        <label class="control-label col-lg-2" for="question">Question:</label>
        <div class="col-lg-10">
          <textarea class="form-control" id="question" placeholder="Question" formControlName="body" rows="3"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label class="control-label col-lg-2" for="answerOptionOne">Option 1:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="answerOptionOne" placeholder="Input First Option" formControlName="answerOptionOne" #optionOne>
            </div>
          </div>

        </div>

        <div class="col-md-6">
            
          <div class="form-group">
            <label class="control-label col-lg-2" for="answerOptionTwo">Option 2:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="answerOptionTwo" placeholder="Input Second Option" formControlName="answerOptionTwo" #optionTwo>
            </div>
          </div>

        </div>
      </div>


      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label class="control-label col-lg-2" for="answerOptionThree">Option 3:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="answerOptionThree" placeholder="Input Thrid Option" formControlName="answerOptionThree" #optionThree>
            </div>
          </div>

        </div>

        <div class="col-md-6">

          <div class="form-group">
            <label class="control-label col-lg-2" for="answerOptionFour">Option 4:</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="answerOptionFour" placeholder="Input Fourth Option" formControlName="answerOptionFour" #optionFour>
            </div>
          </div>

        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-2" for="correct">Correct Option:</label>
        <div class="col-lg-10">
          <select id="correct" formControlName="correctAnswer" class="form-control" title="Choose Correct Option">
            <option *ngIf="optionOne.value" value="{{optionOne.value}}">{{optionOne.value}}</option>
            <option *ngIf="optionTwo.value" value="{{optionTwo.value}}">{{optionTwo.value}}</option>
            <option *ngIf="optionThree.value" value="{{optionThree.value}}">{{optionThree.value}}</option>
            <option *ngIf="optionFour.value" value="{{optionFour.value}}">{{optionFour.value}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-2" for="correctanswer">Marks:</label>
        <div class="col-lg-10">
          <input type="number" class="form-control" id="correctanswer" placeholder="Marks Given for Answer is Correct" formControlName="marksForCorrectAnswer">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-2" for="wronganswer">Nagative Mark:</label>
        <div class="col-lg-10">
          <div class="input-group">
            <span class="input-group-addon">-</span>
            <input type="number" class="form-control" id="wronganswer" placeholder="Marks Deducted for Answer is Incorrect" formControlName="negativeMark">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-2" for="difficulty">Question Difficulty:</label>
        <div class="col-lg-10">
            <select id="difficulty" formControlName="difficulty" class="form-control" title="Choose Difficulty">
              <option value="1">1 (least Difficult)</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5 (most Difficult)</option>
            </select>
        </div>
      </div>

      <div class="form-group"> 
        <div class=" col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default" (click)="questionItemForm.reset()">Clear</button>
          <button type="submit" class="btn btn-primary" [disabled]="!questionItemForm.valid">Submit</button>
        </div>
      </div>

    </fieldset>
  </form>
</div> 