<div id="wrapper">

  <!-- Main -->
  <section id="main">
    <header>
      <span class="avatar"><img src="https://avatars3.githubusercontent.com/u/25552643?s=460&v=4" alt="" height="160" /></span>

      <h1>Himanshu Mittal</h1>
      <p>Junior Computer Techie</p>
      <p>mittal01091997@gmail.com</p>
    </header>

    <footer>
      <ul class="icons">
        <li><a href="https://www.linkedin.com/in/himanshu-mittal-ba8465143/" class="fa fa-linkedin">Linked In</a></li>
        <li><a href="https://github.com/mittal01091997" class="fa fa-github">Github</a></li>
        <li><a href="https://stackoverflow.com/users/6152976/himanshu-mittal" class="fa fa-stack-overflow">Stack Overflow</a></li>
        <li><a href="https://twitter.com/Himansh82290608" class="fa-twitter">Twitter</a></li>
      </ul>
    </footer>
  </section>

</div>