<div class="row">
  <div class="col-md-12">

    <div class="bs-component">
      <form class="form-horizontal" [formGroup]="adminLoginForm" (ngSubmit)="onSubmit()">
        <fieldset>
    
          <legend>Login Needed</legend>
            
          <div class="form-group">
            <label class="control-label col-lg-2" for="passwd">Password:</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="passwd" placeholder="Enter Password" formControlName="password" required minlength="8" maxlength="64">
            </div>
          </div>
        
          <div class="form-group"> 
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        
        </fieldset>
      </form>
    </div>

  </div>
</div>