<div class="panel panel-success" *ngIf="syncStatus == 0">
  <div class="panel-heading">
    <h3 class="panel-title">Good to GO</h3>
  </div>
  <div class="panel-body">
    You are Synchronised with server, you are logged in
  </div>
</div>

<div class="panel panel-warning" *ngIf="syncStatus == 1">
  <div class="panel-heading">
    <h3 class="panel-title">Panel warning</h3>
  </div>
  <div class="panel-body">
    synchronised from server, but not synchronised here
  </div>
</div>

<div class="panel panel-warning" *ngIf="syncStatus == 2">
  <div class="panel-heading">
    <h3 class="panel-title">Panel warning</h3>
  </div>
  <div class="panel-body">
    not synchronised from server, but from here
  </div>
</div>

<div class="panel panel-success" *ngIf="syncStatus == 3">
  <div class="panel-heading">
    <h3 class="panel-title">Good to GO</h3>
  </div>
  <div class="panel-body">
    You are Synchronised with server, you are not logged in
  </div>
</div>